<div class="text-center">
    <p class="h3">
        {{ section.settings.title }}
    </p>
</div>
<div class="barevscomfort-diff">
    <div class="desktop">
        <img src="{{ section.settings.image1desktop | img_url: "1360x" }}" />
        <img src="{{ section.settings.image2desktop | img_url: "1360x" }}" />
    </div>
    <div class="mobile">
        <img src="{{ section.settings.image1mobile | img_url: "1200x" }}" />
        <img src="{{ section.settings.image2mobile | img_url: "1200x" }}" />
    </div>
</div>
{% comment %} <div class="text-center">
    <p class="h3 mt-4">
        {{ section.settings.title2 }}
    </p>
</div>
<div class="barevscomfort-question text-center">
    <div>
        <p>
            {{ section.settings.question }}
        </p>
        <div class="buttons">
            <a href="{{ section.settings.btn1url }}" class="btn btn--secondary">{{ section.settings.btn1text }}</a>
            <a href="{{ section.settings.btn2url }}" class="btn btn--secondary">{{ section.settings.btn2text }}
            <span class="btn-subtext">
                {{ section.settings.btn2subtext }}
            </span>
        </a>
        </div>
    </div>
</div> {% endcomment %}



{%- schema -%}
{
    "name": "Bare vs Comfort - diff",
    "settings": [
    {
        "type": "text",
        "id": "title",
        "label": "Heading"
    },
    {
        "type": "text",
        "id": "title2",
        "label": "Heading 2"
    },
    {
        "type": "text",
        "id": "question",
        "label": "Question text"
    },
    {
        "type": "text",
        "id": "btn1text",
        "label": "Button 1 text"
    },
    {
        "type": "text",
        "id": "btn2text",
        "label": "Button 2 text"
    },
    {
        "type": "text",
        "id": "btn2subtext",
        "label": "Button 2 subtext"
    },
    {
        "type": "url",
        "id": "btn1url",
        "label": "Button 1 link"
    },
    {
        "type": "url",
        "id": "btn2url",
        "label": "Button 2 link"
    },
    {
        "type": "image_picker",
        "id": "image1desktop",
        "label": "Image 1 desktop"
    },
    {
        "type": "image_picker",
        "id": "image2desktop",
        "label": "Image 2 desktop"
    },
    {
        "type": "image_picker",
        "id": "image1mobile",
        "label": "Image 1 mobile"
    },
    {
        "type": "image_picker",
        "id": "image2mobile",
        "label": "Image 2 mobile"
    }
    ],
    "presets": [
      {
        "name": "Bare vs Comfort - diff",
        "category": "Image"
      }
    ]
}
{%- endschema -%}