{%- assign disable_sticky_header = false -%}


{% assign full_collection_handle = request.path | split: "/collections/" | last %}
{% assign full_collection_handle_short = full_collection_handle | split: "/" | last %}

{%- capture full_collection_handle_short_pt2 -%}
  {%- for tag in current_tags -%}
    {{- tag | handleize -}}
    {%- unless forloop.last -%}+{%- endunless -%}
  {%- endfor -%}
  {%- for filter in collection.filters -%}
    {%- assign is_size_filter = false -%}
    {%- if filter.label == "Velikost" or filter.label == "Size" -%}
      {%- assign is_size_filter = true -%}
    {%- endif -%}
    {%- assign is_availability_filter = false -%}
    {%- if filter.label == "Dostupnost" or filter.label == "Availability" -%}
      {%- assign is_availability_filter = true -%}
    {%- endif -%}
    {%- unless is_size_filter or is_availability_filter -%}
      {%- for filter_value in filter.active_values -%}
        {%- unless current_tags == blank -%}+{%- endunless -%}
        {{- filter_value.label | handleize -}}
        {%- unless forloop.last -%}+{%- endunless -%}
      {%- endfor -%}
    {%- endunless -%}
  {%- endfor -%}
{%- endcapture -%}
{% assign full_collection_handle_short_pt2 = full_collection_handle_short_pt2 | replace: ' ', "" | strip_newlines %}
{% if full_collection_handle_short_pt2 != blank %}
  {% assign full_collection_handle_short = full_collection_handle_short | append: '/' | append: full_collection_handle_short_pt2 %}
  {% assign full_collection_handle = collection.handle | append: '/' | append: full_collection_handle_short_pt2 %}
{% endif %}
{% assign collection_dyn_title = shop.metafields.global.category_headings.value[full_collection_handle] %}
{% if collection_dyn_title == blank %}
  {% assign collection_dyn_title = shop.metafields.global.category_headings.value[full_collection_handle_short] %}
{% endif %}

{% assign filtered_sizes = "" %}
{% assign filtered_types = "" %}
{% assign filtered_colors = "" %}
{% assign filtered_materials = "" %}
{%- for filter in collection.filters -%}
  {%- if filter.label == "Velikost" or filter.label == "Size" -%}
    {% assign size_filter_label_downcase = filter.label | downcase %}
    {% if shop.url contains "ahinsashoes.com" %}
      {% assign size_filter_label_downcase = "size" %}
    {% endif %}
    
    {%- for filter_value in filter.active_values -%}
      {% if filtered_sizes != "" %}
        {%- assign filtered_sizes = filtered_sizes | append: ", " -%}
      {% endif %}
      {%- assign filtered_sizes = filtered_sizes | append: filter_value.label -%}
    {%- endfor -%}
  {%- endif -%}
  {%- if filter.label == "Typ obuvi" or filter.label == "Type" -%}
    {%- for filter_value in filter.active_values -%}
      {% if filtered_types != "" %}
        {%- assign filtered_types = filtered_types | append: " " -%}
      {% endif %}
      {%- assign filtered_types = filtered_types | append: filter_value.label -%}
    {%- endfor -%}
  {%- endif -%}
  {%- if filter.label == "Barva" or filter.label == "Color" -%}
    {%- for filter_value in filter.active_values -%}
      {% if filtered_colors != "" %}
        {%- assign filtered_colors = filtered_colors | append: ", " -%}
      {% endif %}
      {%- assign filtered_colors = filtered_colors | append: filter_value.label -%}
    {%- endfor -%}
  {%- endif -%}
  {%- if filter.label == "Materiál" or filter.label == "Material" -%}
    {%- for filter_value in filter.active_values -%}
      {% if filtered_materials != "" %}
        {%- assign filtered_materials = filtered_materials | append: ", " -%}
      {% endif %}
      {%- assign filtered_materials = filtered_materials | append: filter_value.label -%}
    {%- endfor -%}
  {%- endif -%}
{%- endfor -%}

{% if collection_dyn_title != blank %}
  {% assign collection_title = collection_dyn_title %}
  {% if filtered_sizes != "" %}
    {% assign collection_title = collection_title | append: ', ' | append: size_filter_label_downcase | append: ' ' | append: filtered_sizes %}
  {% endif %}
{% else %}
  {% assign collection_title = collection.title %}
  {% if filtered_types != "" %}
    {% assign collection_title = collection_title | append: ', ' | append: ' ' | append: filtered_types %}
  {% endif %}
  {% if filtered_colors != "" %}
    {% assign collection_title = collection_title | append: ', ' | append: ' ' | append: filtered_colors %}
  {% endif %}
  {% if filtered_materials != "" %}
    {% assign collection_title = collection_title | append: ', ' | append: ' ' | append: filtered_materials %}
  {% endif %}
  {% if filtered_sizes != "" %}
    {% assign collection_title = collection_title | append: ', ' | append: size_filter_label_downcase | append: ' ' | append: filtered_sizes %}
  {% endif %}
{% endif %}
  
  
  {%- if section.settings.enable -%}
  {%- if section.settings.collection_image_enable and collection.image -%}
    <div
      id="CollectionHeaderSection"
      data-section-id="{{ section.id }}"
      data-section-type="collection-header"
      {% if section.settings.parallax %}data-parallax="true"{% endif %}>

      {%- assign img_url = collection.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

      <div class="collection-hero">

        {%- if section.settings.parallax -%}
          <div class="parallax-container">
            <div class="parallax-image">
        {%- endif -%}

          <img class="collection-hero__image image-fit lazyload"
            src=""
            data-src="{{ img_url }}"
            data-aspectratio="{{ collection.image.aspect_ratio }}"
            data-widths="[720, 900, 1080, 1800, 2400]"
            data-sizes="auto"
            alt="{{ collection.image.alt | escape }}">

          <noscript>
            <img class="collection-hero__image image-fit"
              src="{{ collection.image | img_url: '1400x' }}"
              alt="{{ collection.image.alt | escape }}">
          </noscript>

        {%- if section.settings.parallax -%}
            </div>
          </div>
        {%- endif -%}

        <div class="collection-hero__content">
          <div class="page-width">
            <header id="HeaderAjaxContent" class="section-header section-header--hero">
              <div class="section-header__shadow">
                {%- render 'breadcrumbs' -%}
                <h1 class="section-header__title">
                  {{ collection_title }}
                  {%- if current_page != 1 -%}
                  — {{ 'general.meta.page' | t: page: current_page }}
                  {%- endif -%}
                </h1>
              </div>
            </header>
          </div>
        </div>
      </div>
    </div>
  {%- else -%}
    {%- assign disable_sticky_header = true -%}
    <div class="page-width page-content page-content--top">
      <header id="HeaderAjaxContent" class="section-header section-header--flush">
        {%- render 'breadcrumbs' -%}
        <h1 class="section-header__title">
          {{collection_title}}
          {%- if current_page != 1 -%}
          — {{ 'general.meta.page' | t: page: current_page }}
          {%- endif -%}
        </h1>
      </header>
    </div>
  {%- endif -%}
{% else %}
  {%- assign disable_sticky_header = true -%}
{%- endif -%}

{%- if disable_sticky_header -%}
  {% comment %}
    Div to trigger theme.CollectionHeader JS
  {% endcomment %}
  <div
    id="CollectionHeaderSection"
    data-section-id="{{ section.id }}"
    data-section-type="collection-header">
  </div>
{%- endif -%}

{% schema %}
  {
    "name": "Collection header",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable",
        "label": "Enable header",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "collection_image_enable",
        "label": "Show collection image",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "parallax",
        "label": "Parallax image",
        "default": true
      }
    ]
  }
{% endschema %}
