{%- liquid
  assign fixed_aspect_ratio = false
  unless section.settings.image_size == 'natural'
    assign fixed_aspect_ratio = true
  endunless

  assign show_section = true
  if template == 'index' and section.settings.hide_homepage
    assign show_section = false
  endif -%
-%}

{%- if show_section -%}
  {%- if section.blocks.size > 0 -%}
    {%- liquid
      assign grid_item_width = 'medium-up--one-half'
      if section.blocks.size == 4
        assign grid_item_width = 'medium-up--one-fourth'
      endif
    -%}

    <div class="index-section">
      <div class="page-width footer-promotions-v2">
        
        {%- if section.settings.title_above != blank or section.settings.text_above != blank -%}
        <div class="dzinoviny-promotions-heading">
        {%- endif -%}
          {%- if section.settings.title_above != blank -%}
          <div class="h2 dzinoviny-promotions-heading-title">{{ section.settings.title_above }}</div>
          {%- endif -%}
          {%- if section.settings.text_above != blank -%}
          <div class="rte-setting dzinoviny-promotions-heading-text">{{ section.settings.text_above }}</div>
          {%- endif -%}
        {%- if section.settings.title_above != blank or section.settings.text_above != blank -%}
        </div>
        {%- endif -%}

        <div class="grid grid--flush-bottom dzinoviny-promotions-media">
          {%- for block in section.blocks -%}
          <div class="grid__item dzinoviny-promotion {{ grid_item_width }} promo" {{ block.shopify_attributes }} data-aos="row-of-4">
            <a href="{{ block.settings.button_link }}" class="image-wrapper">
              {% assign image = block.settings.image %}
              {% if image != blank %}
              <img class="lazyload grid__image-cover" data-src="{{ image.src | img_url: " 180x" }}"
                data-widths="[360, 540, 720, 900, 1080]" data-aspectratio="1" data-sizes="auto" alt="{{image.alt}}">
              {% else %}
    
              {% assign imgindex = forloop.index | string %}
              {% assign img_url = "promo" | append: imgindex | append: ".png" %}
    
              <img class="lazyload grid__image-cover" data-src="{{ img_url | asset_img_url: " 180x" }}"
                data-widths="[360, 540, 720, 900, 1080]" data-aspectratio="1" data-sizes="auto" alt="">
    
              {% endif %}
            </a>
          </div>
          {%- endfor -%}
        </div>
        
        {%- if section.settings.title_below != blank or section.settings.text_below != blank -%}
        <div class="dzinoviny-promotions-heading">
        {%- endif -%}
          {%- if section.settings.title_below != blank -%}
          <div class="h2 dzinoviny-promotions-heading-title">{{ section.settings.title_below }}</div>
          {%- endif -%}
          {%- if section.settings.text_below != blank -%}
          <div class="rte-setting dzinoviny-promotions-heading-text">{{ section.settings.text_below }}</div>
          {%- endif -%}
        {%- if section.settings.title_below != blank or section.settings.text_below != blank -%}
        </div>
        {%- endif -%}
        
      </div>
    </div>
  {%- endif -%}
{%- endif -%}

{% schema %}
{
  "name": "Media promotions",
  "max_blocks": 4,
  "class": "index-section",
  "settings": [
    {
      "type":"richtext",
      "id":"title_above",
      "label":"Title above"
    },
    {
      "type":"richtext",
      "id":"text_above",
      "label":"Text above"
    },
    {
      "type":"richtext",
      "id":"title_below",
      "label":"Title below"
    },
    {
      "type":"richtext",
      "id":"text_below",
      "label":"Text below"
    }
  ],
  "blocks":[
    {
      "type":"promotion",
      "name":"Column",
      "settings":[
        {
          "type":"url",
          "id":"button_link",
          "label":"Link"
        },
        {
          "type":"image_picker",
          "id":"image",
          "label":"Image"
        }
      ]
    }
  ],
  "default":{
    "blocks":[
      {
        "type":"promotion"
      },
      {
        "type":"promotion"
      },
      {
        "type":"promotion"
      },
      {
        "type":"promotion"
      }
    ]
  }
}
{% endschema %}
