{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

  <div class="page-width">
    <div class="img-container">
        <div class="text-box">
            {% if section.settings.heading %}
                <p class="h3 bold">{{ section.settings.heading | escape }}</p>
            {% endif %}
            {% if section.settings.text %}
                <div class="rte featured-row__subtext dzinoviny-mlXX">{{ section.settings.text }}</div>
            {% endif %}
        </div>
        {% if section.settings.icon %}
            <div class="icon-container">
                {{ section.settings.icon | image_url: width: 50 | image_tag }}
            </div>
        {% endif %}
    {%- if section.settings.image -%}
        {{ section.settings.image | image_url: height: '600' | 
            image_tag: class: 'image-text-icon'
        }}
    {%- endif -%}   
    {%- if section.settings.image_m -%}
      {{ section.settings.image_m | image_url: width: '500x' | image_tag: class: 'image-text-icon-m' }}
    {%- endif -%}   
    </div>
  </div>
  
{%- if section.settings.divider -%}</div>{%- endif -%}

{% style %}
    .img-container {
      display: flex; 
      justify-content: center;
      align-items: center;
      position: relative; 
    }

    .image-text-icon {
      object-fit: contain; 
      max-width: 100%; 
      max-height: 100%; 
      width: auto; 
      height: auto;
    }

    .image-text-icon-m {
      display: none;
    }

    .icon-container {
        position: absolute;
        top: 5%; 
        {% if section.settings.icon_position == "right" %}
            right: 5%; 
            {% elsif section.settings.icon_position == "left" %}
            left: 5%; 
        {% endif %}
    }

    .text-box {
        position: absolute; 
        top: {{ section.settings.text_position }};
        left: 50%; 
        transform: translateX(-50%); 
        text-align: center;
    }

@media screen and (max-width: 550px) {
    .icon-container {
        display: none;
        position: absolute;
        top: 5%; 
        left: 60%; 
        transform: translateX(-50%);
        
    }

    .image-text-icon-m {
      display: block;
    }

    .text-box {
      width: 90%;
      position: absolute; 
      top: 60%;
      left: 50%; 
      transform: translate(-50%, -50%); 
      text-align: center;
    }

    .image-text-icon {
      display: none;
    }
}
{% endstyle %}
  
{% schema %}
{
  "name": "Image simple - text, icon",
  "class": "index-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "image_m",
      "label": "Image mobile"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "select",
      "id": "text_position",
      "label": "Text position",
      "default": "10%",
      "options": [
        {
          "value": "10%",
          "label": "Top"
        },
        {
          "value": "30%",
          "label": "Middle"
        },
        {
          "value": "60%",
          "label": "Bottom"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "icon",
      "label": "Icon"
    },
    {
      "type": "select",
      "id": "icon_position",
      "label": "Icon position",
      "default": "right",
      "options": [
        {
          "value": "left",
          "label": "Icon on the top left"
        },
        {
          "value": "right",
          "label": "Icon on the top right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "Show section divider",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Large image simple with text in the middle and icon - landing page",
      "category": "Image"
    }
  ]
}
{% endschema %}
  