<div
  data-section-id="{{ section.id }}"
  data-section-type="independent-reviews-section"
>

<header class="text-center">
    <h2>{{section.settings.heading}}</h2>
    <p>{{section.settings.text}}</p>
</header>

<div class="independent-reviews grid" id="independentReviews">
    {% for block in section.blocks %}

        {%- assign fixed_aspect_ratio = false -%}
        <div class="grid__item medium-up--one-third" data-aos="row-of-{{ 3 }}">
        <div class="grid">
            <div class="grid__item small--one-third">
            {%- if block.settings.image -%}
                <a href="{{ block.settings.link }}" target="_blank" class="article__grid-image" aria-label="{{ block.settings.text | escape }}">
                {%- if fixed_aspect_ratio -%}
                    <div class="image-wrap">
                    <div
                        class="grid__image-ratio grid__image-ratio--{{ image_size }}">
                        {% assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                        <img class="lazyload"
                            data-src="{{ img_url }}"
                            data-widths="[360, 540, 720, 900, 1080]"
                            data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                            data-sizes="auto"
                            alt="{{ block.settings.image.alt | escape }}">
                    </div>
                    <noscript>
                        <img class="lazyloaded" src="{{ block.settings.image | img_url: '400x' }}" alt="{{ block.settings.text | escape }}">
                    </noscript>
                    </div>
                {%- else -%}
                    <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: block.settings.image.aspect_ratio }}%;">
                    {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                    <img class="lazyload"
                        data-src="{{ img_url }}"
                        data-widths="[180, 360, 540, 720, 900, 1080]"
                        data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                        data-sizes="auto"
                        alt="{{ block.settings.image.alt | escape }}">
                    <noscript>
                        <img class="lazyloaded" src="{{ block.settings.image | img_url: '400x' }}" alt="{{ block.settings.text | escape }}">
                    </noscript>
                    </div>
                {%- endif -%}
                </a>
            {%- else -%}
                <div class="article__grid-image">
                {%- if fixed_aspect_ratio -%}
                    <div class="image-wrap">
                    <div
                        class="grid__image-ratio grid__image-ratio--{{ image_size }} lazyload">
                    </div>
                    </div>
                {%- endif -%}
                </div>
            {%- endif -%}
            </div>
            <div class="grid__item small--two-thirds">
            <div class="article__grid-meta">
                <div class="article__author">{{ block.settings.author }}</div>
                <a href="{{ block.settings.link }}" target="_blank" class="article__title">{{ block.settings.text }}</a>
            </div>
            </div>
        </div>
        </div>


    {% endfor %}
</div>





</div>
<style>
    .independent-reviews.grid  {
        margin-top: 75px;
        flex-wrap: wrap;
        gap: 9px;
    }
</style>
{% schema %}
  {
    "name": "Independent reviews",
    "class": "section--independent-reviews",
    "max_blocks": 999,
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading"
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "Text"
        }
    ],
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "author",
          "label": "Author"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
        ]
      }
    ],
    "presets": [{
      "name": "Independent reviews",
      "category": "text",
      "settings": {
      },
      "blocks": [
        
      ]
    }]
  }
{% endschema %}
